html,
body {
  height: 100%;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.word-search-section {
  padding: 15px;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ccc;
  background-color: #6cbdff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.word-search-section .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.word-search-section .search-box input[type=text] {
  font-family: Arial, sans-serif;
  font-size: 16px;
  min-width: 300px;
  color: #555;
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.word-search-section .search-box input[type=text]::-moz-placeholder {
  color: #999;
  opacity: 0.7;
}
.word-search-section .search-box input[type=text]::placeholder {
  color: #999;
  opacity: 0.7;
}
.word-search-section .search-box input[type=text]:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.word-search-section .search-box img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
.word-search-section .search-box img:hover {
  cursor: pointer;
}
.word-search-section .decks {
  background-color: white;
  padding: 5px;
  float: right;
  display: flex;
  position: absolute;
  right: 10%;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}
.word-search-section .decks:hover .deck-panel {
  display: block;
  opacity: 1;
  animation: slide 0.3s ease-in-out;
}
.word-search-section .decks .deck-panel {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background-color: #8acbff;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}
.word-search-section .decks .deck-panel .deck {
  padding: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.word-search-section .decks .deck-panel .deck:hover {
  cursor: pointer;
  background-color: #6cbdff;
}
.word-search-section .sync {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5%;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.word-empty {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #555;
}
.word-empty img {
  height: 300px;
}

.images {
  width: 98%;
  height: 300px;
  display: flex;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  justify-content: space-evenly;
}
.images .setting-img {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.images .setting-img .radio-group input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.images .setting-img .radio-group label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
.images .setting-img .radio-group label:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid #999999;
}
.images .setting-img .radio-group input[type=radio]:checked + label:before {
  background-color: #2196f3;
  border-color: #2196f3;
}
.images .setting-img .radio-group input[type=radio]:focus + label:before {
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3);
}
.images .frame {
  width: 50%;
  height: 100%;
  position: relative;
}
.images .frame .image-anki {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.images .frame .arr {
  position: absolute;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease-in-out;
}
.images .frame .arr.arr-left {
  left: -55px;
}
.images .frame .arr.arr-right {
  right: -55px;
}
.images .frame .arr:hover {
  cursor: pointer;
  opacity: 0.6;
}
.images .frame .arr:active {
  transform: scale(0.9);
}

.fl-boxs {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  color: aliceblue;
}
.fl-boxs .fl-box {
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
.fl-boxs .fl-box .fl {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.fl-boxs .fl-box .options {
  display: flex;
}
.fl-boxs .fl-box .options .fl-options {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.fl-boxs .fl-box .options .fl-options .sub-option {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.fl-boxs .fl-box .options .fl-options .sub-option:hover {
  cursor: pointer;
  background-color: #ccc;
  color: black;
}
.fl-boxs .fl-box .options .fl-options .sub-option:active {
  transform: scale(0.9);
}
.fl-boxs .fl-box .options .fl-options + .fl-options {
  margin-left: 10px;
}
.fl-boxs .fl-box.n {
  background-color: green;
}
.fl-boxs .fl-box.v {
  background-color: rgb(192, 16, 16);
}
.fl-boxs .fl-box.adj {
  background-color: rgb(11, 11, 206);
}
.fl-boxs .fl-box.adv {
  background-color: rgb(209, 8, 166);
}
.fl-boxs .fl-box.prep {
  background-color: rgb(192, 159, 97);
}
.fl-boxs .fl-box.conj {
  background-color: purple;
}
.fl-boxs .fl-box.interj {
  background-color: rgb(83, 133, 60);
}
.fl-boxs .fl-box.pron {
  background-color: rgb(167, 21, 77);
}
.fl-boxs .fl-box.deter {
  background-color: rgb(185, 194, 64);
}
.fl-boxs .fl-box.oth {
  background-color: rgb(255, 0, 0);
}

.examples .example {
  font-size: 20px;
  text-align: left;
  padding: 5px;
}
.examples .example:hover {
  cursor: pointer;
}
.examples .example li {
  font-size: 20px;
}
.examples .example span {
  font-size: 16px;
  font-style: italic;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

.hide {
  display: none !important;
}

.hightlight {
  background-color: rgb(240, 240, 90) !important;
  font-weight: 600;
  color: black;
}

.anki-review {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.5882352941);
}
.anki-review .card {
  animation: move-down 0.3s ease-in-out forwards;
  background-color: white;
  width: 800px;
  height: 90%;
  padding: 20px 30px;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}
.anki-review .card::-webkit-scrollbar {
  display: none;
}
.anki-review .card .infor {
  flex-grow: 1;
}
.anki-review .card .submit-addcard {
  background-color: rgb(182, 255, 73);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.anki-review .card .submit-addcard p {
  margin: 0;
  text-align: center;
  font-weight: 900;
}
.anki-review .card .submit-addcard:hover {
  cursor: pointer;
}
.anki-review .card .submit-addcard:active {
  transform: scale(0.7);
}

.btn-show-hide-review {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #7a1f1f;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.btn-show-hide-review img {
  width: 100%;
  height: 100%;
}
.btn-show-hide-review:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 85, 85, 0.4745098039);
}
.loading-bg img {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-active {
  font-weight: 800;
}

.frame-hightlight {
  transition: all 0.3s ease-in-out;
  animation: move-left 0.5s ease-in-out forwards;
}

.loading {
  width: 30px;
  height: 30px;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5%);
  }
}
@keyframes move-down {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */